<template>
  <section class="container">
    <div class="container__content">
      <Budgets />
    </div>
  </section>
</template>

<script lang="ts">
// https://class-component.vuejs.org/guide/class-component.html#data
import { Vue, Component } from 'vue-property-decorator';
const Budgets = () => import('~/components/budgets/Budgets.vue');

@Component({
  components: {
    Budgets
  }
})
export default class BudgetsIndex extends Vue {}
</script>

<style lang="scss">
@import '~/assets/styles/pages/index.scss';
</style>
