<template>
  <div class="table">
      <!-- <table class="table__form" v-if="checkBudgets">
          <thead class="table__thead">
              <tr class="table_thead_row">
                <th :class='"row" + (i+1)' v-for="(item, index) in headArray" :key="index">
                    <div :class='"data" + (i+1)'>{{ item }}</div>
                </th>
              </tr>
          </thead>

          <tbody class="table__tbody">
              <tr class="table__tbody_row" v-for="(item, index) in budgets" :key="index">
                  <td class="name" @click="routeToBudget(index)">{{ item.name }}</td>
                  <td class="currency">{{ item.currency }}</td>
                  <td class="limit">{{ item.limit }}</td>
                  <td class="remain">{{ item.remBudget }}</td>
                  <td class="avg">{{ item.avgSumm }}</td>
                  <td class="min">{{ item.minSumm }}</td>
                  <td class="max">{{ item.maxSumm }}</td>
                  <td class="budget-delete">
                      <button class="erase" @click="erase(index)">{{ cross }}</button>
                  </td>
              </tr>
          </tbody>
      </table>

      <div class="budget__preview" v-if="!checkBudgets">
          <span class="budget__preview_no-active">{{ noActive }}</span>
          <span class="budget__preview_new-one">{{ newOne }}</span>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

// export default class BudgetsTable extends Vue {
//     headArray: string[] = [
//       'Budget name',
//       'Currency',
//       'Limit',
//       'Remaining budget',
//       'Average transaction summ',
//       'Min Transactions Summ',
//       'Max Transactions Summ',
//       'Delete'
//     ];
//     cross = 'x';
//     noActive = 'There are no active budgets yet...';
//     newOne = 'Please, create new one';
// };
</script>

<style lang="scss" scoped>
@import '~/assets/styles/_budgets-table.scss';
</style>