<template>
  <div class="budgets">
    <div v-if="showAdding" class="budget__form-wrapper">
      <CreateBudgetsForm />
    </div>

    <div
      v-if="showBudgets"
      class="budget__table"
      :class="{ 'blur-filter': showAdding }"
    >
      <div class="budget__table_add-budget">
        <div class="add-new-budget">
          {{ addNewBudget }}
        </div>

        <div class="button__plus">{{ plus }}</div>
      </div>
    </div>

    <BudgetsTable />
  </div>
</template>

<script lang="ts">
// https://class-component.vuejs.org/guide/class-component.html#data
import { Vue, Component } from 'vue-property-decorator';
const CreateBudgetsForm = () => import('~/components/forms/createBudgetsForm/CreateBudgetsForm.vue');
const BudgetsTable = () => import('~/components/budgetsTable/BudgetsTable.vue');
// import { getModule } from 'vuex-module-decorators';
// import Budgets from '~/store/modules/Budgets';
import { mapGetters } from 'vuex';
import Budgets from '../../types/Budgets';
import { budgets } from '../../store/budgets';


@Component({
  components: {
    BudgetsTable,
    CreateBudgetsForm
  },
  computed: {
    ...mapGetters(['budgets.getters.getBudgets']),
  },
  created() {
    console.log(budgets.getters.getBudgets);
  },
})
export default class Budget extends Vue {
  // Declared as component data
  addNewBudget = 'Add new budget';
  plus = '+';
  showAdding: boolean = false;
  showContent: boolean = true;
  showBudgets: boolean = true;
}
</script>

<style lang="scss">
@import '../../assets/styles/_budgets.scss';
</style>
