<template>
  <div class="form-budgets">
    <!-- <form class="form-budget__adding" @submit.prevent="saveData">
      <div class="form-budget__adding_name">
        <div class="bname">{{ budgetName }}</div>

        <div class="form-budget__adding_input">
          <input class="name" type="text" v-model="name" name="name" autofocus :placeholder="namePlaceholder">
        </div>
      </div>

      <div class="form-budget__adding_currency">
        <div class="name">{{ budgetCurrency }}</div>

        <div class="dropdown">
          <input type="text" name="currency" :placeholder="dropdownPlaceholder" v-model="selectedCurrency">

          <div class="dropdown__chevron" @click="changePseudooptions" :class="{ 'transformed': openPseudooptions }" />
        </div>

        <div class="pseudooptions" :class="{ 'hidden': openPseudooptions }">
          <div class="pseudooptions__all" v-for="(currency, i) in currencyArray" :key="i">
            <div class="pseudooptions__all_row" @click="addNewBudget(i)" :class="{ 'row-trans': openPseudooptions }">
              {{ currency }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-budget__adding_limit">
        <div class="limit__name">{{ budgetLimit }}</div>

        <div class="limit__input">
          <input type="text" class="limit" v-model="limit" name="limit" :placeholder="limitPlaceholder">
        </div>

        <div class="form-budget__adding_buttons">
          <input type="submit" :value="ok">
          <div class="cancel" @click="cancel">{{ cancelTitle }}</div>
        </div>
      </div>
    </form> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import NewBudget from '@/types/NewBudget';

@Component
export default class CreateBudgetsForm extends Vue {
  budgetName = 'Budget name';
  budgetCurrency = 'Budget currency:';
  cancelTitle = 'Cancel';
  namePlaceholder = "Set budget's name";
  dropdownPlaceholder = 'Choose your currency';
  limitPlaceholder = 'Enter limit';
  budgetLimit = 'Budget limit:';
  ok = 'Ok';
  selectedCurrency = '';
  name = '';
  limit = '';
  closeForm: boolean = false;

  // Declared as component method
  cancel(): void {
    this.$emit('cancel', this.closeForm);
  }

  // saveData(e): void {
  //   let withoutComma;

  //     if (e.target.limit.value.search(',') !== -1) {
  //       withoutComma = e.target.limit.value.replace(/,/g, '.');
  //     } 
  //     else {
  //       withoutComma = e.target.limit.value;
  //     }

  //     const newBudget: NewBudget = {
  //       name: e.target.name.value,
  //       currency: e.target.currency.value,
  //       limit: Number(withoutComma)
  //     };

  //     this.$emit('emitSaveData', this.closeForm);

  //     this.setBudget(newBudget);

  //     this.setCurrencies();
  // }
}
</script>
