@import "./mixins";

.budget {

  &__form-wrapper {
    position: relative;
  }

  &__table {

    &_add-budget {
      @include flexJCflEnd;

      padding: 5px;

      background: $white;

      .add-new-budget {
        font-size: 18px;

        @include flexCenterAlign;

        padding-right: 10px;
        margin-right: 10px;

        border-right: 1px solid grey;
      }
      .button__plus {
        font-size: 26px;
        font-weight: bold;

        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: green;
        border-radius: 50%;

        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.blur-filter {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
}
