@import "./mixins.scss";

.table {
  &__form {
    width: 100%;

    border: 1px solid $grey;

    .table__thead {
      background: $table-thead;

      &_row {
        @include flex;

        .row1 {
          font-weight: normal;

          @include flexCenterAlign;

          flex-basis: 16.5%;

          @include paddin2Margin4Grey;
        }

        .row2 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 8.5%;

          @include paddin2Margin4Grey;
        }

        .row3 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
        }

        .row4 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
        }

        .row5 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
        }

        .row6 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
        }

        .row7 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;
        }

        .row8 {
          font-weight: normal;

          @include flexCenterAlign;
          flex-basis: 4.5%;

          @include paddin2Margin4Grey;
        }
      }
    }

    .table__tbody {
      background: $white;

      &_row {
        @include flex;

        .name {
          flex-basis: 16.5%;

          @include paddin2Margin4Grey;

          cursor: pointer;
        }

        .currency {
          font-weight: bold;

          flex-basis: 8.5%;

          @include paddin2Margin4Grey;
        }

        .limit {
          @include paddin2Margin4Grey;

          flex-basis: 12.5%;

          color: $blue;
        }

        .remain {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: $brown;
        }

        .avg {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: $avg;
        }

        .min {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: $green;
        }

        .max {
          flex-basis: 12.5%;

          @include paddin2Margin4Grey;

          color: $red;
        }

        .budget-delete {
          @include paddin2Margin4Grey;

          @include flexCenterAlign;

          flex-basis: 4.5%;

          .erase {
            background: $red;
            color: $white;

            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }

  .budget {
    &__preview {
      @include flexColCenterAlign;

      &_no-active {
        font-size: 22px;
      }

      &_new-one {
        font-size: 22px;

        margin-bottom: 25px;
      }

      &_add {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        .button__plus {
          font-size: 36px;
          font-weight: bold;

          width: 50px;
          height: 50px;

          @include flexColCenterAlign;

          background-color: $green;
          border-radius: 50%;

          color: $white;
        }
      }
    }
  }
}