$white: #fff;
$white_shadow1: #faecd5;
$white_shadow2: #cae4d8;
$grey: #808080;
$table-thead: #f0fff0;
$blue: #0000ff;
$brown: #a52a2a;
$green: #008000;
$red: #ff0000;
$avg: #f4a460;
$grey: #808080;

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexJCflEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin flexCenterAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flexColCenterAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColCenterAlignStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin paddin2Margin4Grey {
  padding: 4px;
  margin: 2px;

  border: 1px solid $grey;
}