@import '../mixins.scss';

.container {
  min-height: 100vh;

  @include flexCenterAlign;
  align-items: flex-start;

  margin: 0 auto;

  background: radial-gradient(closest-side, $white_shadow1, $white_shadow2);

  &__content {
    width: 100%;
  }
}
